function Main.main 5
push constant 128
push constant 128
call Vertex.new 2
pop local 0
push local 0
call SnakeGame.new 1
pop local 1
push local 1
call SnakeGame.get_snake 1
pop local 3
push local 3
call Snake.get_vertices 1
pop local 4
push constant 0
push local 4
add
pop pointer 1
push that 0
pop local 0
push local 0
call Vertex.getx 1
pop local 2
push local 1
call SnakeGame.run 1
pop temp 0
push local 1
call SnakeGame.dispose 1
pop temp 0
push constant 0
return
