function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto if_true_42
goto if_false_42
label if_true_42
push this 0
call Square.moveUp 1
pop temp 0
label if_false_42
push this 1
push constant 2
eq
if-goto if_true_43
goto if_false_43
label if_true_43
push this 0
call Square.moveDown 1
pop temp 0
label if_false_43
push this 1
push constant 3
eq
if-goto if_true_44
goto if_false_44
label if_true_44
push this 0
call Square.moveLeft 1
pop temp 0
label if_false_44
push this 1
push constant 4
eq
if-goto if_true_45
goto if_false_45
label if_true_45
push this 0
call Square.moveRight 1
pop temp 0
label if_false_45
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label while_start_56
push local 1
not
not
if-goto while_end_56
label while_start_58
push local 0
push constant 0
eq
not
if-goto while_end_58
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto while_start_58
label while_end_58
push local 0
push constant 81
eq
if-goto if_true_62
goto if_false_62
label if_true_62
push constant 0
not
pop local 1
label if_false_62
push local 0
push constant 90
eq
if-goto if_true_63
goto if_false_63
label if_true_63
push this 0
call Square.decSize 1
pop temp 0
label if_false_63
push local 0
push constant 88
eq
if-goto if_true_64
goto if_false_64
label if_true_64
push this 0
call Square.incSize 1
pop temp 0
label if_false_64
push local 0
push constant 131
eq
if-goto if_true_65
goto if_false_65
label if_true_65
push constant 1
pop this 1
label if_false_65
push local 0
push constant 133
eq
if-goto if_true_66
goto if_false_66
label if_true_66
push constant 2
pop this 1
label if_false_66
push local 0
push constant 130
eq
if-goto if_true_67
goto if_false_67
label if_true_67
push constant 3
pop this 1
label if_false_67
push local 0
push constant 132
eq
if-goto if_true_68
goto if_false_68
label if_true_68
push constant 4
pop this 1
label if_false_68
label while_start_71
push local 0
push constant 0
eq
not
not
if-goto while_end_71
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto while_start_71
label while_end_71
goto while_start_56
label while_end_56
push constant 0
return
