function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
if-goto if_true_82
goto if_false_82
label if_true_82
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto if_end_82
label if_false_82
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label if_end_82
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
if-goto if_true_111
goto if_false_111
label if_true_111
push this 4
push this 5
add
pop this 4
goto if_end_111
label if_false_111
push this 4
push this 6
add
pop this 4
push this 9
if-goto if_true_115
goto if_false_115
label if_true_115
push this 7
if-goto if_true_116
goto if_false_116
label if_true_116
push this 0
push constant 4
add
pop this 0
goto if_end_116
label if_false_116
push this 1
push constant 4
add
pop this 1
label if_end_116
goto if_end_115
label if_false_115
push this 7
if-goto if_true_120
goto if_false_120
label if_true_120
push this 0
push constant 4
sub
pop this 0
goto if_end_120
label if_false_120
push this 1
push constant 4
sub
pop this 1
label if_end_120
label if_end_115
label if_end_111
push this 8
if-goto if_true_125
goto if_false_125
label if_true_125
push this 7
if-goto if_true_126
goto if_false_126
label if_true_126
push this 1
push constant 4
add
pop this 1
goto if_end_126
label if_false_126
push this 0
push constant 4
add
pop this 0
label if_end_126
goto if_end_125
label if_false_125
push this 7
if-goto if_true_130
goto if_false_130
label if_true_130
push this 1
push constant 4
sub
pop this 1
goto if_end_130
label if_false_130
push this 0
push constant 4
sub
pop this 0
label if_end_130
label if_end_125
push this 0
push this 10
gt
not
if-goto if_true_134
goto if_false_134
label if_true_134
push constant 1
pop this 14
push this 10
pop this 0
label if_false_134
push this 0
push this 11
lt
not
if-goto if_true_138
goto if_false_138
label if_true_138
push constant 2
pop this 14
push this 11
pop this 0
label if_false_138
push this 1
push this 12
gt
not
if-goto if_true_142
goto if_false_142
label if_true_142
push constant 3
pop this 14
push this 12
pop this 1
label if_false_142
push this 1
push this 13
lt
not
if-goto if_true_146
goto if_false_146
label if_true_146
push constant 4
pop this 14
push this 13
pop this 1
label if_false_146
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
if-goto if_true_167
goto if_false_167
label if_true_167
push constant 10
pop local 4
goto if_end_167
label if_false_167
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
if-goto if_true_169
goto if_false_169
label if_true_169
push constant 20
pop local 4
goto if_end_169
label if_false_169
push constant 5
pop local 4
label if_end_169
label if_end_167
push this 14
push constant 1
eq
if-goto if_true_175
goto if_false_175
label if_true_175
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto if_end_175
label if_false_175
push this 14
push constant 2
eq
if-goto if_true_181
goto if_false_181
label if_true_181
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto if_end_181
label if_false_181
push this 14
push constant 3
eq
if-goto if_true_187
goto if_false_187
label if_true_187
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto if_end_187
label if_false_187
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label if_end_187
label if_end_181
label if_end_175
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
