function Main.main 3
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 126
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 0
push constant 266
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 510
push constant 255
push constant 0
push constant 1
call Screen.drawLine 4
pop temp 0
push constant 510
push constant 126
push constant 0
push constant 1
call Screen.drawLine 4
pop temp 0
push constant 265
push constant 255
push constant 0
push constant 1
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 255
push constant 511
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 20
push constant 125
push constant 400
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 0
return
