function Screen.init 0
push constant 512
pop static 0
push constant 256
pop static 1
push constant 16384
pop static 2
push constant 0
return
function Screen.clearScreen 2
push constant 8192
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push local 0
lt
not
if-goto WHILE_END0
push constant 0
push static 2
push local 1
add
call Memory.poke 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 3
push constant 0
return
function Screen.drawPixel 0
push constant 0
return
function Screen.drawLine 0
push constant 0
return
function Screen.drawRectangle 0
push constant 0
return
function Screen.drawCircle 0
push constant 0
return
